/* Variables and mixins declared here will be available in all other SCSS files */ /* https://github.com/jgthms/bulma/issues/1293 */
$body-overflow-y: auto;
$footer-padding: 4.5rem 1.5rem 4.5rem;
$info: #00ADD8;